@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

body {
  background-color: #232323;
  font-family: 'McLaren', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 3.5em;
  color: white;
  text-align: center;
}

.prediction-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  margin-top: 50px;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.enter-headline {
  font-size: 1.1em;
  color: white;
}

.text-area {
  background-color: #5757578b;
  color: #87E698;
  width: 700px;
  height: 100px;
  border: none;
  border-top-right-radius: 15px;
  font-size: 20px;
  padding: 10px;
}

textarea:focus {
  outline: none;
}

.buttons {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.categorize-btn {
  width: 150px;
  background-color: #87E698;
  padding: 7px 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.categorize-btn:hover {
  background-color: #4fb762;
}

.clear-btn {
  width: 150px;
  background-color: #E5E5E5;
  padding: 7px 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.clear-btn:hover {
  background-color: #a8a8a8;
}

.results {
  align-self: flex-start;
  color: white;
  font-size: 1.1em;
  margin-top: 20px;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.recent-predictions{
  color: white;
}

.history-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #5757578b;
  width: 300px;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
}

.col-names {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #87E698;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.462);
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.462);
  font-size: 0.8em;
}

.history-headline {
  width: 45%;
  text-align: center;
}

.history-confidence {
  width: 45%;
  text-align: center;
}